/* Reset and base styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Flexbox layout for sticky footer and main content spacing */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background: linear-gradient(to right, #001279, #0047ab);
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header-content img.logo {
    height: 50px; /* Adjust logo size */
    width: auto;
}

/* Navigation styles */
nav#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#main-nav ul li a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav#main-nav ul li a:hover, 
nav#main-nav ul li a.active {
    color: #ffdd00;
    text-decoration: underline;
}

/* Main content styles */
main {
    flex-grow: 1;
    padding: 20px;
    margin: auto;
    max-width: 960px;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #002244;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

/* Weather and contact popup styles */
.weather-info, .contact-popup {
    text-align: center;
    padding: 10px;
    background-color: #7BAFD4;
    color: white;
    font-size: 18.5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.contact-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #dc3545;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/* Responsive adjustments for mobile views */
@media (max-width: 768px) {
    .header-content, nav#main-nav ul {
        flex-direction: column;
    }

    nav#main-nav ul li {
        margin-top: 10px;
    }

    .header-content img.logo {
        width: 120px; /* Smaller logo for mobile screens */
    }
}

@media (max-width: 600px) {
    nav#main-nav ul {
        flex-direction: column;
    }
    
    nav#main-nav ul li {
        margin-bottom: 10px;
    }
}

/* Form styles */
form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #0047ab;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #003087;
}
